<!-- Describe task in general -->

<p>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Quadratic_equation#Solving_the_quadratic_equation">Quadratic Equation</a>
    may be expressed as a product<br />
    <pre>a(x-x1)(x-x2) = 0</pre>,<br />
    where x1 and x2 are the solutions of equation, so called roots.
    After opening the brackets you receive well known form<br />
    <pre>a*x**2 + b*x + c = 0</pre>.<br />
    This is what you should do in this mission. You have input {% if is_js %}Array{% else %}list{% endif %} with
    {% if is_js %}numbers{% else %}integers{% endif %} - a, x1 [, x2]. If it has length 2, it means, x1 == x2: equation
    has two equal roots (one distinct root). You function should return quadratic equation as a string.
    Pay attention to specific cases. Use <a target="_blank" href="https://www.calculatorsoup.com/calculators/algebra/quadratic-formula-calculator.php">Quadratic Formula Calculator</a>
    for recheck. Good luck!   
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array{% else %}List{% endif %} with 2-3 {% if is_js %}numbers{% else %}integers{% endif %}.
</p>

<p>
    <strong>Output:</strong> String. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>How it’s used:</strong>
    <i>Practice of automatic representing human-friendly view of equations</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>a != 0; abs(a) == 1 -> '[-]x**2'; a != abs(1) - > '[-]a*x**2'</i><br /></li>
    <li><i>exactly one whitespace around signs: [-]a*x**2 sign b*x sign c = 0</i><br /></li>
    <li><i>abs(b) == 1 -> [-]a*x**2 sign x sign c = 0</i><br /></li>
    <li><i>keep correct view and spacing when x1=x2=0, x1 or x2 = 0, x1=-x2</i></li>
    </ul>
</p>
